<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="card" style="width: 18rem;">
                <!-- <img src="../../plus.png" class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">{{user.name}}</h5>
                  <p class="card-text">Username: {{user.username}}</p>
                  <p class="card-text">Email: {{user.email}}</p>
                  <button class="btn btn-primary" type="submit" (click)="onViewTweets()">View Tweets</button>

                </div>
              </div>
        </div>
    </div>
</div>






